.absech1 {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
  margin: 5% 0% 5% 0%;
}

.absecp1 {
  font-size: 1.5rem;
}
