.contactPageFullContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f1f27;
}

.contactPageCont {
  background-color: #272836;
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: scale(0.9);
}

.tiltedTextContainer {
  color: #fff;
  font-size: 24px;
  padding: 4px 8px;
  transform: translateY(-50%);
  animation: slideInLeft 1s forwards;
}

.aboutPageContText {
  flex: 1;
  text-align: center;
  animation: fadeIn 1s forwards;
}

.btnContact {
  margin-top: 20px;
  padding: 12px 30px;
  border: none;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.btnContact:hover {
  background-color: #ffffff;
  color: #000000;
}
