.homeCont {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#myVideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 1;
}

.titleH1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  font-weight: 800;
}

.titleH3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}

.HSec2ProfPic {
  height: 75vh;
  width: auto;
  margin: 10% 5% 5% 5%;
  border-radius: 25px;
}

.HSec2Cont {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Hsec2Cont2 {
  padding: 3%;
}

.HSec2H1 {
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin: 10% 0% 5% 0%;
}

.Hsec2P {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .HSec2Cont {
    flex-direction: column;
    height: auto;
  }

  .HSec2ProfPic {
    height: auto;
  }
}

.HSec3Cont {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

.HSec3H1 {
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin: 10% 0% 1% 0%;
}

.HSec3P {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

.hSecHyperlink {
  color: grey;
  border-bottom: 5px solid grey;
}

.hSecHyperlink:hover {
  color: #fff;
  border-bottom: 5px solid #fff;
}
