.lsDiv {
  height: 60vh;
  width: 60%;
  text-align: center;
}

.lsIcon {
  height: 20%;
  margin: 15px;
}

.lsIcon:hover {
  transform: scale(120%);
}

.lsh1 {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .lsIcon {
    height: 10%;
  }
}

.breakLine {
  display: none;
}

@media (max-width: 768px) {
  .breakLine {
    display: inline;
    margin: 0 0.2em;
  }
}
