.page2Sec1Container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.page2Sec1BgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://cutewallpaper.org/21/bmw-m4-handy-wallpaper/BMW-M4-Wallpapers-Top-Free-BMW-M4-Backgrounds-.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

.page2Sec1BgImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.page2Sec1TextOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.page2Sec1Text {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.page2Sec1Container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.car-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.car-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .car-gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.bady {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.containeria {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 38px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapperia {
  width: 100%;
  height: 100%;
}

.banner-imageia {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.button-wrapperia {
  margin-top: 18px;
}

.btnia {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.btnia + .btnia {
  margin-left: 10px;
}

.outlineia {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all 0.3s ease;
}

.outlineia:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.fillia {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}

.fillia:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}

.page2Sec2BgImg {
  background-size: cover;
  background-position: center;
  position: relative;
}

.carNameClass {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.carPriceClass {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: bolder;
}

.carTypeClass {
  font-style: italic;
  font-family: "Raleway", sans-serif;
}

.filterName {
  left: 50%;
  text-align: center;
}

.selectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.noteText {
  text-align: center;
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.3) 3em,
      rgba(255, 255, 255, 0.2) 3em
    );
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
select option {
  color: inherit;
  background-color: #320a28;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
