@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
#outerContainer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

#home-top-video:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

#home-top-video {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  font-family: "Carter One", cursive;
  font-size: xx-large;
}

@media (max-width: 1408px) {
  .video-wrapper {
    padding-top: 100vh;
    height: auto;
  }
}
.titleText {
  font-family: "Londrina Outline", cursive;
  font-size: 5rem;
}

.movingText {
  font-family: "Londrina Outline", cursive;
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  .moving-text {
    transform: none !important;
  }

  .titleText {
    font-size: 3.5rem;
  }

  .movingText {
    font-size: 3rem;
    padding-left: 10px;
  }
}

.animatedHoverH1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.animatedHoverH1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.animatedHoverH1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(0, 0%, 0%);
  z-index: -1;
  transition: transform 0.3s ease;
}

.animatedHoverH1 {
  position: relative;
  font-size: 5rem;
}

.fixed-text-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transform: rotate(90deg);
  transform-origin: 50% 0%;
  z-index: 999;
}

.fixed-text {
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.fixed-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 25vh;
  background-color: white;
  z-index: 1;
  transform-origin: top center;
  transform: translate(-5000%, -2.5%) rotate(90deg);
}
.fixed-text-container2 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(-90deg);
  transform-origin: 50% 170%;
  margin-top: 140px;
  z-index: 999;
}

.fixed-text2 {
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.fixed-text2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 25vh;
  background-color: white;
  z-index: 1;
  transform-origin: top center;
  transform: translate(-6000%, -1.5%) rotate(90deg);
}
