.projects-showcase {
  text-align: center;
  padding: 40px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  margin-top: 30px;
  perspective: 1000px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

.project-card {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 1px solid white;
  margin: 10px;
  width: 85%;
}

.project-card:hover {
  transform: translateY(-5px) translateZ(20px);
}

.project-card img {
  width: 100%;
  border-radius: 6px;
  transform: translateZ(0);
}

.project-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(100%);
  opacity: 0;
}

.project-card:hover .project-details {
  transform: translateY(0);
  opacity: 1;
}

.project-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-details p {
  font-size: 16px;
  margin-bottom: 20px;
}

.project-links a {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #000000;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.project-links a:hover {
  background-color: #ffffff;
  color: #000;
}
