.aboutCont {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #000;
  padding: 5%;
}
.abouth1 {
  margin-right: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin: 5%
}
.abouth2 {
  text-wrap: nowrap;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
.aboutp {
  text-wrap: nowrap;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.profContainer {
  display: flex;
  align-items: center;
}

.profPic {
  margin-right: 20px;
  width: 64vh;
  height: 100vh;
}

@media (max-width: 768px) {
  .profContainer {
    flex-direction: column;
  }

  .profPic {
    height: auto;
    width: 43vh;
  }

  .abouth1 {
    margin: 12%;
    text-align: center;
  }

  .aboutp {
    visibility: hidden;
  }

  .abouth2 {
    visibility: hidden;
  }

  .diva {
    text-align: center;
  }
}

.profPar {
  flex: 1;
}

.dot {
  height: 77px;
  width: 75px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  margin-right: -30px;
}
.dot1 {
  height: 57px;
  width: 59px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  margin-left: -7px;
}

.diva2 {
  position: absolute;
  top: 10%;
  right: 0.5%;
}

.diva {
  position: fixed;
  bottom: 2%;
  left: 2%;
}

.bttn1 {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  margin: 3px;
  height: 32px;
  width: 32px;
}

.bttn1:hover {
  background-color: #fff;
  color: #000;
}

.bttn2 {
  border-radius: 50%;
  border: none;
  font-size: 50px;
  color: white;
  background-color: black;
}

.diva2 i,
.diva2 svg {
  color: #000000;
}

.arrow {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  position: relative;
}

.arrow::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 2px 0 0;
  position: absolute;
  transform-origin: 50% 50%;
}

.arrow.down::before {
  transform: rotate(135deg);
  margin: -20px 0 0 -15px;
}

.arrow::after {
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #ffffff;
  position: absolute;
  transform-origin: 50% 50%;
  border: 1px solid#fff;
}

.arrow.down::after {
  width: 0;
  height: 40px;
  border-width: 0 2px 0 0;
  transform: translate(-1px, -26px);
  border: 1px solid#fff;
}

.arrow.circle {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50px;
  color: #fff;
}

.arrow:hover {
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  .arrow {
    visibility: hidden;
  }

  .arrow.circle {
    visibility: hidden;
  }
}

.aboutp {
  position: relative;
}

.aboutp::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: grey;
  transition: width 0.3s ease;
}

.aboutp:hover::after {
  width: 100%;
}

.language-icons {
  bottom: 20px;
  left: 50%;
}

.language-icon {
  font-size: 3rem;
  margin: 0 10px;
  color: white;
}

@media (max-width: 768px) {
  .aboutPageCont {
    flex-direction: column;
    align-items: center;
  }

  .aboutPageContText {
    text-align: center;
    margin-top: 0.7rem;
  }

  .photoContainer {
    margin-top: 20px;
  }
  .abtText {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .abtText {
    font-size: 0.6rem;
  }
}

.absecCont {
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

.absech1 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-size: 5rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
  margin: 10% 0% 10% 0%;
}

.absecp1 {
  font-size: 1.5rem;
}
.absech2div {
  margin-bottom: 3%;
  text-align: left;
}

.absech2div2 {
  margin-bottom: 3%;
  text-align: right;
}

.absech2 {
  font-size: 1.5rem;
}

.langshow {
  margin: 5% 0% 5% 0%;
}

@media (max-width: 768px) {
  .absech2div {
    text-align: left;
  }

  .absech2div2 {
    text-align: left;
  }

  .absecCont {
    margin: 5%;
    height: auto;
  }

  .langshow {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navlinkcontact {
  color: grey;
  border-bottom: 5px solid grey;
}

.navlinkcontact:hover {
  color: #fff;
  border-bottom: 5px solid #fff;
}
