.favorite-items-showcase {
  text-align: center;
  padding: 40px;
}

.favorite-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.favorite-card {
  width: calc(275px - 40px);
  height: 250px;
  border-radius: 55%;
  background-color: #000000;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  border: 1px solid white;
}

.favorite-card:hover {
  transform: scale(1.1) rotate(10deg);
}

.favorite-card-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.favorite-card.open .favorite-card-content {
  opacity: 1;
}
